
#container-garden {
  // margin-top: 50px;
  // margin: 20px;
  // padding-top: 50px;
 background-color: #E9F6ED;
  // position: relative;
  display: flex;
  width: 1000px;
  margin: 50px auto 25px auto;
  position: relative;
}


.container-small-map {
  display: flex;
  width: 1000px;
  margin: 50px auto 50px auto;
  background-color: #E9F6ED;
}

.container-small-map img {
  width: 700px;
  height: 300px;
  margin: 50px auto 50px auto;
}

.garden-image {
  padding: 50px;
  // position: absolute;
  // top: 50px;
  // left: 50px;
  // width: 500px;
  text-align: center;
}

.text-garden {
  padding: 20px;
  // position: absolute;
  top: 20px;
  right: 20px;
  width: 500px;
  // text-align: center;
  align-self: center;
}

.container-gar {
  padding-top: 25px;
}

#avatar-owner-garden {
position: absolute;
top: 50px;
right: 50px;
}
