
#container-garden {
  display: flex;
  width: 600px;
  margin: 0 auto;
  background-color: #fafafa;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

#container-garden-details {
  display: flex;
  max-width: 900px;
  margin: 0px auto 0px auto;
  position: relative;
  background-color: #fafafa;
  padding-bottom: 20px;
  padding: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.11);
  border-left: 1px solid rgba(0, 0, 0, 0.11);
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  @media (max-width: 600px) {
    flex-flow: column;
  }
}

#container-garden-pictures {
  display: flex;
  max-width: 900px;
  margin: 0px auto 0px auto;
  position: relative;
  background-color: #fafafa;
  border-right: 1px solid rgba(0, 0, 0, 0.11);
  border-left: 1px solid rgba(0, 0, 0, 0.11);
  align-items: center;
  justify-content: center;
  padding-top: 0;
  padding-top: 40px;
  @media (max-width: 600px) {
    flex-flow: column;
  }
}

#container-garden-owner {
  max-width: 900px;
  margin: 0px auto 0px auto;
  position: relative;
  background-color: #fafafa;
  padding-bottom: 20px;
  padding: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.11);
  border-left: 1px solid rgba(0, 0, 0, 0.11);
}
#container-map-details {
  // display: flex;
  max-width: 900px;
  margin: 0px auto 25px auto;
  position: relative;
  background-color: #fafafa;
  border-right: 1px solid rgba(0, 0, 0, 0.11);
  border-left: 1px solid rgba(0, 0, 0, 0.11);
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

#container-garden-top {
  display: flex;
  flex-direction: row;
  max-width: 900px;
  margin: -100px auto 0px auto;
  position: relative;
  background-color: #fafafa;
  padding-left: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.11);
  border-left: 1px solid rgba(0, 0, 0, 0.11);
  border-top: 1px solid rgba(0, 0, 0, 0.11);
  padding-bottom: 5px;
  @media (max-width: 600px) {
    flex-flow: column;
  }
}

.border {
  border: 1px solid #dce0e0;
  background-color: #fff;
}


.container-small-map {
  display: flex;
  width: 1000px;
  margin: 50px auto 50px auto;
}

.container-small-map img {
  display: flex;
  max-width: 1000px;
  margin: -100px auto 0px auto;
  position: relative;
  background-color: #fafafa;
}

.garden-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  height: 400px;
}

.avatar-garden {
  padding: 40px;
  align-self: center;
  padding-bottom: 10px;
}

.avatar-user {
  order: 2;
  flex: 0 0 30%;
}

.garden-owner-name {
  align-self: center;
  justify-content: center;
  display: flex;
}

.garden-owner {
  display: flex;
}

.text-garden {
  padding: 20px;
  align-self: center;
  p {
    opacity: .6;
  }
}

.buttons-garden {
  padding: 20px;
  &:hover {
    text-decoration: none;
  }
}

.button-garden {

}

.container-gar {
  padding-top: 25px;
}

#avatar-owner-garden {
position: absolute;
top: 50px;
right: 50px;
}

.garden-photo {
  height: 100%;
}

.garden-photo-swipebox {
  padding-left: 20px;
  height: 250px;
  width: 250px;
  object-fit: cover;
  padding-bottom: 40px;
  align-items: center;
}

.garden-description {
  width: 100%;
  margin: 0px auto;
}

.search-results {
  padding-right: 5px;
  padding-top: 15px;
  display: flex;
}

.icon {
  padding-right: 5px;
  padding-top: 5px;
}

.results {
  padding-right: 10px;
  opacity: 0.7;
}

#swipebox-first {
  display: none;

  &:first-child {
    display: block;
  }
}

.swipebox2 {
  align-items: center;
  justify-content: center;
  display: flex;
}
#swipebox-next, #swipebox-prev{
 position: relative;
  &:after {
    content: '';
    position: absolute;
    background: white;
    height: 4px;
    width: 15px;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(45deg) translateY(-6px)
  }

  &:before {
    content: '';
    position: absolute;
    background: white;
    height: 4px;
    width: 15px;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
    transform: rotate(-45deg) translateY(6px)
  }
}

#swipebox-prev {
  transform: rotate(-180deg);
}

#swipebox-close {
  margin: 20px;
  &:after {
    content: '';
    position: absolute;
    background: white;
    height: 30px;
    width: 4px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(45deg);
  }

  &:before {
    content: '';
    position: absolute;
    background: white;
    height: 30px;
    width: 4px;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
    transform: rotate(-45deg)
  }
}

.button-garden-view {
  display: flex;
  margin-left: 50px;
  @media (max-width: 600px) {
    margin-left: 0;
  }
}

.garden-owner-fullname {
  opacity: .5;
  margin: auto 0;
}

.garden-description {
  flex: 1;
  opacity: .7;
}

.avatar-user-container {
  margin-left: auto;
  padding: 20px;
  display: flex;

  align-items: center;

  img {
    margin: 0 10px;
  }
}

