
#container-garden {
  display: flex;
  width: 600px;
  margin: 0 auto;
  background-color: #fafafa;
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

#container-garden-details {
  display: flex;
  max-width: 900px;
  margin: 0px auto 0px auto;
  position: relative;
  background-color: #fafafa;
  padding-bottom: 20px;
}

.container-map-details {
  display: flex;
  max-width: 900px;
  margin: 0px auto 25px auto;
  position: relative;
  background-color: #fafafa;
}

#container-garden-top {
  display: flex;
  max-width: 900px;
  margin: -100px auto 0px auto;
  position: relative;
  background-color: #fafafa;
  padding-bottom: 20px;
}

.border {
  border: 1px solid #dce0e0;
  background-color: #fff;
}


.container-small-map {
  display: flex;
  width: 1000px;
  margin: 50px auto 50px auto;
}

.container-small-map img {
  display: flex;
  max-width: 1000px;
  margin: -100px auto 0px auto;
  position: relative;
  background-color: #fafafa
}

.garden-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  height: 400px;
}

.avatar-garden {
  padding: 40px;
  align-self: center;
  padding-bottom: 10px;
}

.garden-owner-name {
  align-self: center;
  justify-content: center;
  display: flex;
}

.text-garden {
  padding: 20px;
  align-self: center;
  p {
    opacity: .6;
  }
}

.buttons-garden {
  padding: 40px;
  align-self: center;
  margin-left: auto;
}

.container-gar {
  padding-top: 25px;
}

#avatar-owner-garden {
position: absolute;
top: 50px;
right: 50px;
}

.garden-photo {
  height: 100%;
}

.garden-photo-swipebox {
  padding-left: 20px;
  height: 250px;
  width: 250px;
  object-fit: cover;
  padding-bottom: 40px;
  align-items: center;
}

.garden-description {
  padding: 20px 20px;
  width: 100%;
  max-width: 570px;
  margin: 18px auto;

}

#swipebox-first {
  display: none;

  &:first-child {
    display: block;
  }
}

.swipebox2 {
  align-items: center;
  justify-content: center;
  display: flex;
}
#swipebox-next, #swipebox-prev{
 position: relative;
  &:after {
    content: '';
    position: absolute;
    background: white;
    height: 4px;
    width: 15px;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(45deg) translateY(-6px)
  }

  &:before {
    content: '';
    position: absolute;
    background: white;
    height: 4px;
    width: 15px;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
    transform: rotate(-45deg) translateY(6px)
  }
}

#swipebox-prev {
  transform: rotate(-180deg);
}

#swipebox-close {
  margin: 20px;
  &:after {
    content: '';
    position: absolute;
    background: white;
    height: 30px;
    width: 4px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(45deg);
  }

  &:before {
    content: '';
    position: absolute;
    background: white;
    height: 30px;
    width: 4px;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
    transform: rotate(-45deg)
  }
}


