
#container-garden {
  // margin-top: 50px;
  // margin: 20px;
  // padding-top: 50px;
 // background-color: #E9F6ED;
  // position: relative;
  display: flex;
  width: 1000px;
  margin: 0px auto 25px auto;
  position: relative;
}

.border {
  border: 1px solid #dce0e0;
  background-color: #fff;
}


.container-small-map {
  display: flex;
  width: 1000px;
  margin: 50px auto 50px auto;
}

.container-small-map img {
  width: 700px;
  height: 300px;
  margin: 50px auto 50px auto;
}

.garden-image {
  // padding: 50px;
  // position: absolute;
  // top: 50px;
  // left: 50px;
  // width: 500px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-color: #f5f5f5;
  height: 100%;
  width: 100%;
  object-fit: cover;
  height: 400px;
}

.avatar-garden {
  padding: 20px;
  // position: absolute;
  top: 20px;
  right: 20px;
  width: 500px;
  // text-align: center;
  align-self: center;
}

.text-garden {
  padding: 20px;
  // position: absolute;
  top: 20px;
  right: 20px;
  width: 500px;
  // text-align: center;
  align-self: center;
  width: 1000px;
  margin-left: 50px;
}

.buttons-garden {
  padding: 20px;
  // position: absolute;
  top: 20px;
  right: 20px;
  // text-align: center;
  align-self: center;
}

.container-gar {
  padding-top: 25px;
}

#avatar-owner-garden {
position: absolute;
top: 50px;
right: 50px;
}

.garden-photo {
  height: 100%;
}

.swipebox {
  display: none;

  &:first-child {
    display: block
  }
}

.swipebox-prev {
 margin: 20px;
  &:after {
    content: '';
    position: absolute;
    background: white;
    height: 30px;
    width: 4px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(45deg);
  }

  &:before {
    content: '';
    position: absolute;
    background: white;
    height: 30px;
    width: 4px;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
    transform: rotate(-45deg)
  }
}

// #swipebox-next {
//  margin: 20px;
//   &:after {
//     content: '';
//     position: absolute;
//     background: white;
//     height: 30px;
//     width: 4px;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//     margin: auto;
//     transform: rotate(45deg);
//   }

//   &:before {
//     content: '';
//     position: absolute;
//     background: white;
//     height: 30px;
//     width: 4px;
//     left: 0;
//     margin: auto;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     transform: rotate(-45deg)
//   }
// }


#swipebox-close {
  margin: 20px;
  &:after {
    content: '';
    position: absolute;
    background: white;
    height: 30px;
    width: 4px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: rotate(45deg);
  }

  &:before {
    content: '';
    position: absolute;
    background: white;
    height: 30px;
    width: 4px;
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
    transform: rotate(-45deg)
  }
}

.wrapper {
  background-color: #E3E3E0;
  padding-top: 60px;
  padding-bottom: 60px;
}

.wrapper-map {
  background-color: #fafafa;
  padding-top: 60px;
  padding-bottom: 60px;
}
