/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

IMG.hiw {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;

  }

  .how-it-works {
    position: relative;
    padding-top: 20px;
    padding-bottom: 50px;
    #hiw-text{        position: absolute;
    top: 151px;
    left: 40%;
    color: white;
    font-size: 250%;
    }
     #hiw-text2 {
      text-align: center;
      position: absolute;
      left: 40%;
     }
  }

.marker-photo {
  height: 150px;
  width: 200px;
}

.container-cards {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 600px;
}

.box {
  text-align: center;
  padding: auto 0,0,0;
  height: 100px;
  position: relative;
}

// .padded {
//   margin: 0 auto;

// }

.container-gar {
  margin: 0 auto;
}



.container-tips {
padding-right: 5em;
padding-left: 5em;
}

.testimonial-picture {
  // width: 350px;
  // height: 350px;
  // object-fit: cover
   margin-right: auto;
    margin-left: auto;
  }

  .card-testimonial {
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    p {
      text-align: center;
    }
  }

.section-title-border-testimonial {
width: 250px;
background-color: #366328;
    height: 3px;
    margin: 0 auto;
}
