/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */


.box {
  text-align: center;
  padding: auto 0,0,0;
  height: 100px;
  position: relative;
}

.map {
  padding: auto 0,0,0;
}
