/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.container-map {
padding: 50px;
}

.container-cards {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 600px;
}

.box {
  text-align: center;
  padding: auto 0,0,0;
  height: 100px;
  position: relative;
}

// .padded {
//   margin: 0 auto;

// }

.container-gar {
  margin: 0 auto;
}



.container-tips {
padding-right: 5em;
padding-left: 5em;
}

.testimonial-picture {
  // width: 350px;
  // height: 350px;
  // object-fit: cover
   margin-right: auto;
    margin-left: auto;
  }

  .card-testimonial {
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    p {
      text-align: center;
    }
  }

.section-title-border-testimonial {
width: 250px;
background-color: #366328;
    height: 3px;
    margin: 0 auto;
}
