
<div id="footer">
  <div class="footer-links">
  <div class="space-between-links"><%= link_to "over ons", about_path, class: "footer-links-hoover" %></div>
    <div class="space-between-links"><%= link_to "contact", "", class: "footer-links-hoover"  %></div>
  </div>
  <div class="section-title-border-footer">
  </div>
  <div class="footer-social">
    <%= link_to "", "https://www.facebook.com/Jouw-Stek-301552580290262/", class: "fa fa-facebook footer-icons btn-footer" %>
  </div>
</div>
