  <div class="container">
    <div class="row">
    <div class="col-xs-12 col-lg-8 col-lg-offset-2">
        <h2>
         OVER JOUW STEK
       </h2>
       <div class="about-text">
        Een kwart van de Nederlanders kent z'n buren nauwelijks. Hoe zit dat bij jou? Jouw Stek zorgt voor onverwachte ontmoetingen in buurten. En wat is nou een betere ontmoetingsplek dan in de tuin? Een tuin geeft namelijk een kijkje in iemands leven. In Amsterdam heeft helaas niet iedereen een tuin en worden de wachtlijsten voor volkstuinen langer en langer. Door jouw stek open te stellen, creëer je voor jezelf én een ander een super fijne plek om van te genieten. Bovendien maak je zo de stad een stukje groener!
        <br><br>
        <h4>
          Mijn stek wordt ook jouw stek 
        </h4>
        Met Jouw Stek zet je je tuinhek open voor een buurtgenoot zonder tuin, maar wel met hele groene vingers. Amsterdammers die wel wat handjes in de tuin kunnen gebruiken vanwege weinig tijd, kennis of kracht brengen wij in contact met tuinloze bewoners die dolgraag in de aarde wroeten. Door jouw stek te delen, ontmoet je mensen in je buurt en ligt jouw tuin straks vol kleurrijke bloemen of zelfgekweekte groenten en fruit. 
        <br><br>
        <h4>
          Wat is een Stek-eigenaar of een Stek-zoeker? 
        </h4>
        <strong>
          Een echte Stek-eigenaar: 
        </strong>
        <ul>
          <li>
            heeft weinig tijd, kennis of groene vingers om aan de slag te gaan in zijn of haar tuin en kan wel wat hulp of gezelschap gebruiken
          </li>
          <li>
            zet zijn of haar tuinhek open van 18 juni tot en met 10 september 2017
          </li>
        </ul>
        <br><br>
        <strong>
          Een echte Stek-zoeker:  
        </strong>
        <ul>
          <li>
            is gek op (moes)tuinieren, steekt graag zijn vingers in de aarde voor een ander of vindt het gewoon leuk om zijn of haar buren beter te leren kennen
          </li>
          <li>
            zet zijn tuinier-skills in tussen 18 juni en 10 september 2017 (data en tijden in overleg met Stek-eigenaar)
          </li>
        </ul>
        <br><br>
        <h4>
          Eerste editie in Oud-West en De Baarsjes 
        </h4>
        De Gezonde Stad start op zondag 18 juni een pilot in Oud-West en De Baarsjes! Op de laatste dag van Open Tuinen dag maken 10 Stek-zoekers samen met10 Stek-eigenaren een start in 'hun' stek. Tussen 18 juni en 10 september volgen we de matches via <a href="https://www.facebook.com/Jouw-Stek-301552580290262/?fref=ts" class="about-link"><span></span>Facebook</a>. Aan de hand van al die ervaringen kunnen we volgend jaar een tweede editie opzetten. Misschien wel in jouw buurt! 
        <br><br>
        Jouw Stek is een initiatief van <a href="http://www.degezondestad.org/" class="about-link"><span></span>De Gezonde Stad</a>.
      </div>
    </div>
  </div>
</div>

<div class="wrapper-grey" style="background-color: white;">

  <div class="container">
    <h3 class="text-center"> Het team </h3>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-2">
        <div class="card-testimonial">
          <%= image_tag("paula.png", class: "testimonial-picture") %>
          <div class="section-title-border-testimonial"></div>
          <p><a href="http://www.paulabrouwer.com" class="link"> Paula Brouwer </a></p>
          <div class="description">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque omnis eos ad culpa ducimus, optio temporibus aperiam, necessitatibus veniam, libero saepe natus nam. Similique, pariatur?
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card-testimonial">
          <%= image_tag("raksha.jpg", class: "testimonial-picture") %>
          <div class="section-title-border-testimonial"></div>
          <p><a href="http://www.degezondestad.org/" class="link"> Raksha Hoost </a></p>
          <div class="description">
            <p>
              Raksha Hoost is projectleider bij Jouw Stek vanuit De Gezonde Stad. Ze zet projecten op om bewoners in hun kracht te zetten om zelf hun wijk groener en leefbaarder te maken. <br><br> <em>"In zo'n drukke stad als Amsterdam leven mensen vaak langs elkaar heen. Terwijl we juist sterker staan door onze krachten te bundelen. Door bijvoorbeeld je tuinhek open te zetten voor een ander. Zo simpel kan het zijn!"</em>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-2">
       <div class="card-testimonial">
         <%= image_tag("lars.jpg", class: "testimonial-picture") %>
         <div class="section-title-border-testimonial"></div>
         <p> <a href="http://unless.io/" class="link"> Lars Böhm </a></p>
         <div class="description">
          <p>
            Lars Böhm is developer, designer, ondernemer & filosoof bij zijn bedrijf Unless. Daar richt hij zich op het snel opzetten van digitale producten die gelijk met eindgebruikers getest kunnen worden. Ook geeft Lars regelmatig les en workshops in webapplicatieontwikkeling & design. <br><br> <em>"Niets moet, alles mag."</em>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
     <div class="card-testimonial">
       <%= image_tag("paul.jpg", class: "testimonial-picture") %>
       <div class="section-title-border-testimonial"></div>
       <p> <a href="http://www.degezondestad.org/" class="link"> Paul Thung </a></p>
       <div class="description">
        <p>
          Paul Thung loopt stage bij Jouw Stek vanuit De Gezonde Stad en gelooft dat tuinen en buren de sleutel zijn tot geluk. <br><br> <em>"Beiden zijn volop aanwezig in Amsterdam, ze hoeven elkaar alleen maar te vinden."</em>
        </p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
