<div class="text-center">
  <h2> Meet the team</h2>
  <p>Hello test for Paula heroku set up</p>
</div>
<div class="wrapper-grey padded" style="background-color: white;">

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card-testimonial">
          <%= image_tag("paula.jpg", class: "testimonial-picture", style: "margin-left: 4%") %>
          <div class="section-title-border-testimonial"></div>
          <p><a href="http://annepaulinebrouwer.github.io/profile/"> Paula Brouwer </a><p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
       <div class="card-testimonial">
        <%= image_tag("Jojanneke.JPG", class: "testimonial-picture", style: "margin-left: 5%") %>
        <div class="section-title-border-testimonial"></div>
         <p> <a href="http://jojanneketamis.github.io/resume/"> Jojanneke Tamis </a></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
     <div class="card-testimonial">
      <%= image_tag("carolien.jpg", class: "testimonial-picture", style: "margin-left: 5%") %>
      <div class="section-title-border-testimonial"></div>
       <p><a href="http://carolienjonker29.github.io/resume/"> Carolien Jonker </a></p>
    </div>
  </div>
</div>
</div>
</div>
