<p> Hier komen de components:</p>

<p> Our tabs: </p>
<div class="tabs text-align:center">
  <a class="tab active" href="#">
 <div class="circle-tab">
    <i class="fa fa-question fa-3x"></i>
  </div>
  </a>
  <a class="tab" href="#">
  <div class="circle-tab">
    <i class="fa fa-check fa-3x"></i>
  </div>
  </a>
  <a class="tab" href="#">
    <div class="circle-tab">
    <i class="fa fa-ban fa-3x"></i>
  </div>
  </a>
  <a class="tab" href="#">
   <div class="circle-tab">
    <i class="fa fa-times fa-3x"></i>
  </div>
  </a>
</div>



<div class="hexagon hexagon1"><div class="hexagon-in1"><div class="hexagon-in2" style= "background-image: url(http://placekitten.com/241/241)" ></div></div></div>
