<div class="components">

  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1>This is an H1 text</h1>
        <h2>This is een H2 text</h2>
        <h3>This is een H3 text</h3>
        <p>This is een paragraph text. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium est perferendis placeat totam sed doloremque, facilis ad dignissimos reprehenderit natus doloribus quisquam, odit voluptas porro laborum consequuntur cum? Quidem, eveniet.</p>
      </div>

      <div class="col-sm-6">
        <h1>THIS IS EEN H1 TEXT</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div>
        <div class="col-sm-6">
          <a href="" class="link">This is a link before clicking</a>
        </div>
        <div class="col-sm-6">
          <a href="" class="link">This is a link after clincking</a>
        </div>
      </div>
    </div>

    <p class="pending">pending</p>

    <p class="accepted">accepted</p>
    <p class="declined">declined</p>
    <p class="closed">closed</p>

  </div>

  <div class="container">
    <div class="row" "padded">
      <div class="col-sm-6">
        <input class="input"/>
      </div>
    <div class="col-sm-6">
     <input/>
   </div>
  </div>
 </div>


 <div class="container">
   <div class="row">
     <div class="col-sm-6">
       <h1>This is an H1 text</h1>
       <h2>This is een H2 text</h2>
       <h3>This is een H3 text</h3>
       <p>This is een paragraph text. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium est perferendis placeat totam sed doloremque, facilis ad dignissimos reprehenderit natus doloribus quisquam, odit voluptas porro laborum consequuntur cum? Quidem, eveniet.</p>
     </div>

     <div class="col-sm-6">
       <h1>THIS IS EEN H1 TEXT</h1>
     </div>
   </div>
 </div>
</div>
