  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-6 col-lg-offset-3">
        <h2>
        Contact
       </h2>
       <div class="about-text">
         <h3>
          Samenwerken? 
        </h3>
        Daar worden we blij van! Als bewoner, ondernemer, sociale organisatie, overheidsinstelling, Stek-eigenaar of Stek-zoeker? Wij zetten graag het tuinhekje voor jou open! 
        <br><br>
        Stuur een mail naar Raksha Hoost via <a href="mailto:raksha@degezondestad.org" class="about-link"><span></span>raksha@degezondestad.org</a>
        Bellen kan ook via 0683656635
        <br><br>
        Meer weten? Volg de Stek-eigenaren en Stek-zoekers dan op <a href="https://www.facebook.com/Jouw-Stek-301552580290262/?fref=ts" class="about-link">Facebook</a>
        <br><br>
        Jouw Stek is een initiatief van <a href="http://www.degezondestad.org/" class="about-link"><span></span>De Gezonde Stad</a>.
        <%= image_tag 'gezondestad.jpg', class: "about-image" %>
      </div>
    </div>
  </div>
</div>