<h1>Welcome to GardenThumb</h1>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var coord = <%= raw @garden_coordinates %>;
      alert('Garden coordinates are ' + coord.lat + ', ' + coord.lng);
    });
  <% end %>
<% end %>
