.tabs {
  background: #E9F6ED;
  display: flex;
  padding: 10px 10px 0 10px;
  width: 1100px;
  margin:0 auto;
}
.tabs a {
  color: #FAFAFA;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: rgb(233, 246, 237);
  // opacity: 0.2;
}

.tab {
  background: white;
  flex: 0 0 33.33%;
  text-align: center;
  padding: 20px 0;
  border: 1px solid #659157;
  // border-width: 10px;
  // border-color: #659157;
  .fa {
    margin-top: 25px;
    color: #FAFAFA;
  }
}
.tab:first-child {
  border-radius: 10px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}
.tab.active {
  background: #E9F6ED;
  color: white;
}

.circle-tab {
width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #659157;
  margin: 0 auto;
}
