.tabs {
  background: #E9F6ED;
  display: flex;
  margin:0 auto;
}
.tabs a {
  color: #FAFAFA;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: rgba(white, .5);
}

.tab {
  flex: 0 0 33.33%;
  // text-align: center;
  padding: 40px 0;

  .fa {
    color: #FAFAFA;

  }
}
.tab:first-child {
  border-radius: 5px 0 0 0;
}
.tab:last-child {
  border-radius: 0 5px 0 0;
}
.tab.active {
  background: white;
  border-right: 1px solid rgba(0, 0, 0, 0.11);
  border-left: 1px solid rgba(0, 0, 0, 0.11);
  border-top: 1px solid rgba(0, 0, 0, 0.11);
}

.circle-tab {
  width: 35px;
  font-size: 10px;
  height: 35px;
  border-radius: 50%;
  background-color: #659157;
  justify-content: center;
  align-items: center;
  display: flex;

}

[data-target="#pending"] {
  .circle-tab {
    background: #AD7FFF;
  }
}

[data-target="#canceled"] {
  .circle-tab {
    background: #EE5F5B;

  }
}

.tab-content {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.11);
  margin-top: -1px;
}

.tab-elements {
  display: flex;
  color: red;
  justify-content: center;
  align-items: center;
}

.tab-text {
  margin-left: 10px;
  font-weight: bold;
  color: #AD7FFF;
  font-size: 18px;
  align-items: center;
  display: flex;

}
