<h1> Gardens: </h1>
</div>

  <div class="container">
      <% @gardens.each do |garden| %>
        <%=  link_to garden.title, garden_path(garden) %>
        <p><%= garden.address %></p>
        <p><%= garden.description %></p>
      <% end %>
    </div>
