
<div id="container-garden">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-7">
      <%= cl_image_tag @garden.photo, height: 450, width: 600, crop: :fill %>

        <p> <%= @garden.title %></p>
        <p> <%= @garden.address %></p>
        <p> <%= @garden.description %></p>


      </div>
    </div>
  </div>
