

























<div class="tabs text-align:center">
  <a class="tab active" href="#">
 <div class="circle-tab">
    <i class="fa fa-question fa-3x"></i>
  </div>
  </a>
  <a class="tab" href="#">
  <div class="circle-tab">
    <i class="fa fa-check fa-3x"></i>
  </div>
  </a>
  <a class="tab" href="#">
    <div class="circle-tab">
    <i class="fa fa-ban fa-3x"></i>
  </div>
  </a>
  <a class="tab" href="#">
   <div class="circle-tab">
    <i class="fa fa-times fa-3x"></i>
  </div>
  </a>
</div>
