/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  border: none;
  margin: 0;
  text-align: center;
  color: white;
  position: absolute;
  z-index: 150;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(0%);
  transition: transform .3s ease;

  &.is-hidden {
    transform: translateY(-100%);
  }
}

.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
