.wrapper-booking {
  background-color: #FAFAFA;
}

.booking-welcome-text {
  margin: 0px 0px 35px 35px;
}

@media (max-width: 600px) {
  .booking-item {
    flex-direction: column;
  }
  .booking-item-user {
    flex-direction: column;
  }

  .booking-item-message {
    margin: 20px 0;
  }
}

@media (min-width: 600px) {
  .booking-item {
    height: 120px;
    flex-direction: row;
  }
  .booking-item-user {
    flex-direction: row;
  }
}

.booking-item {
  display: flex;
  padding: 10px 15px 10px 25px;
  margin-bottom: 15px;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  background-color: white;
  border-right: 1px;
}

.booking-item-user {
  display: flex;
  align-items: center;

  &:hover {
    opacity: 0.8;
  }
  .booking-item-user-name {
    margin: 0px 20px 0px 20px;
    font-weight: bold;
  }
}

.booking-item-city {
  opacity: 0.8;
}

.booking-item-street {
  font-weight: bold;
}
.booking-picture {
  align-items: center
}

.booking-item-text {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
}

.booking-item-owner {
  width: 100px;
  text-align: center;

  &:hover {
    opacity: 0.7;
  }
}

.booking-item-message {
  margin-left: 15px;
  margin-right: 15px;
  opacity: 0.8;
  flex: 1 0 auto;
  background-color: #dedede;
  height: 80%;
  padding: 5px;
  color: black;
}

.booking-item-thumb {
  .avatar-large {
    border-radius: 5px;
  }
  &:hover {
    opacity: 0.7;
  }
}
.booking-item-infos {
  width: 150px;
  margin-left: 25px;
  margin-right: 15px;
}

.booking-item-side {
  display: flex;
}

.booking-item-data {
  opacity: 0.8;
  margin: 0 10px;
}

.booking-item-btn {
  margin-right: 15px;
}

.no-requests {
  padding: 20px 0 100px 40px;
}
