.btn-success {
  color: #fafafa;
}

.btn.btn-success {
  background-color: #659157 !important;
  border-color: #659157 !important;
  border-radius: 20px;
  text-decoration: none !important;
  &:hover {
    background-color: #366328 !important;
    transition: all 0.5s ease 0s;
    text-decoration: none !important;
  }
}

.btn-review {
  padding: 5px 10px;
  line-height: 1.3;
  border-radius: 0px;
  margin-left: 5px;
  margin-bottom: 3px;
  color: #333;
  background-color: #e6e6e6;

  &:hover {
    text-decoration: none
  }
}






