.btn-success {
  background-color: #196900 !important;
  border-color: #196900 !important;
  border-radius: 20px;
  text-decoration: none !important;
  &:hover {
    background-color: #366328 !important;
    transition: all 0.5s ease 0s;
    text-decoration: none !important;
  }
  &:focus {
    outline: 0
  }
}

.btn-review {
  padding: 5px 10px;
  line-height: 1.3;
  border-radius: 0px;
  margin-left: 5px;
  margin-bottom: 3px;
  color: #333;
  background-color: #e6e6e6;
  &:hover {
    text-decoration: none
  }
  &:focus {
    outline: 0
  }
}

// .btn {
//   border: 2px solid rgba(0,0,0,0.6);
//   border-radius: 5%;
//   font-weight: bold;
// }






