.modal {
  color: white;
  text: center;
  opacity: 0.5;
  h2 {
    color: white;
  }
  a {
     color: white;
  background-color: transparent;
  text-decoration: none;
  }
  p {
    color: white;
  }
}

.log-in-form {
    padding: 20px;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fafafa;
}

.log-in-wrapper {
  background-color: #f5f5f5;
}
