.small-icon {
  width: 30px;
  height: 30px;
  color: orange;
}

.review-container {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.review-cards {
      margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 80px;
  padding: 20px;
  background-color: #FDFDFD;
  min-height: 300px;
  position: relative;
  border: 1px solid rgba(28, 28, 28, 0.18);
  border-radius: 5px;
  @media (max-width: 600px) {
    min-height: 100px;
  }
  p {
    margin-bottom: 40px;
  }
}

.review-cards-user {
      margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 80px;
  padding: 20px;
  background-color: #FDFDFD;
  min-height: 300px;
  position: relative;
  border: 1px solid rgba(28, 28, 28, 0.18);
  border-radius: 5px;
  @media (max-width: 600px) {
    min-height: 100px;
  }
   p {
    margin-bottom: 40px;
  }
}

.carrots {
  position: absolute;
  bottom: 15px;
  left: 100px;
}

.review-text {
  margin: 5px 10px 5px 10px;
  text-align: center;
}

.review-name {
  margin: 30px 15px 10px 10px;
  text-align: center;
}

.circle {
  width: 90px;
  min-height: 90px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgba(28, 28, 28, 0.18);
  position: absolute;
  top: -45px;
  left: 40%;
}

#avatar-review {
position: absolute;
top: 10px;
left: 10px;
}
